- name: Remove rpms
  ansible.builtin.dnf:
    name:
      - cups
      - dnsmasq
      - nc
    state: absent
    allowerasing: true
    autoremove: true
  tags:
    - rpms_remove
    - rpms

- name: Install rpms
  ansible.builtin.dnf:
    name:
      - aide
      - ansible-collection-community-general
      - bash-completion
      - bat
      - chrony
      - firewalld
      - glibc-langpack-en
      - openscap-scanner
      - policycoreutils-python-utils
      - scap-security-guide
      - sysstat
      - unzip
      - logwatch
      - vim
    state: present
  tags:
    - rpms_install
    - rpms

- name: Install support for video playback
  ansible.builtin.dnf:
    name:
      - ffmpeg
      - gstreamer1-plugins-base
      - gstreamer1-plugins-ugly
      - vlc
    state: present
  when:
    - epel_repository is success
    - cbr_repository is success
    - rpmfusion_repositories is success
  tags:
    - rpms_install
    - rpms
    - video_playback
