- name: Ensure kernel modules are disabled
  ansible.builtin.lineinfile:
    create: true
    dest: "/etc/modprobe.d/{{ item }}.conf"
    line: "install {{ item }} /bin/true"
  loop:
    - dccp
    - sctp
    - tipc
    - squashfs
    - udf
  tags:
    - kernel_modules
    - kernel

- name: Ensure kernel modules are blacklisted
  ansible.builtin.lineinfile:
    create: true
    dest: "/etc/modprobe.d/{{ item }}.conf"
    line: "blacklist {{ item }}"
  loop:
    - dccp
    - sctp
    - tipc
    - squashfs
    - udf
  tags:
    - kernel_modules
    - kernel

- name: Copy sysctl hardening.conf
  ansible.builtin.copy: 
    src: "{{ item.src }}" 
    dest: "{{ item.dest }}"
    owner: root
    group: root
    mode: '0644'
  loop:
    - { src: '98-hardening.conf', dest: '/etc/sysctl.d/98-hardening.conf' }
    - { src: '98-custom.conf', dest: '/etc/sysctl.d/98-custom.conf' }
  notify: Reload sysctl
  tags: 
    - sysctl
    - kernel
    
