---
- hosts: all
  become: true
  roles:
    - common
    - firewalld
    - repositories
    - rpms
    - bash
    - rsyslog
    - logrotate
    - permissions
    - sshd
    - audit
    - kernel
    - authselect
    - services
    - aide
